<nav>
    <a href="../index.html">Home</a>
    <a href="../pages/platform.html">Platform</a>
    <a href="../pages/values.html">Values</a>
    <a href="../pages/causes.html">Causes</a>
    <a href="../pages/resources.html">Resources</a>
    <!-- Socials can be turned into a footer, but if we want to fully display content from it as well, we should keep the page -->
    <a href="../pages/socials.html">Socials</a>
    <a href="../pages/ideas.html">Ideas</a>
    <a href="../pages/services.html">Services</a>
    <a href="../pages/creations.html">Creations</a>
    <a href="../pages/products.html">Products</a>
    <a href="../pages/projects.html">Projects</a>
    <a href="../pages/community.html">Community</a>
    <a href="../pages/facets.html">Facets</a>
</nav>