#news ul {
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    list-style: none;
}

#news article {
    height: 100%;
    padding: 2em;
}