:root {
    margin: 0;
    padding: 0;
}

body {
    --dark-base-primary: hsl(275, 75%, 25%);
    margin: 0;
    padding: 0;
    background-color: var(--dark-base-primary);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
}

#frame {
    display: none;
}